@keyframes swim {
  0% { transform: translateY(0px) translateX(0px); }
  25% { transform: translateY(-40px) translateX(40px); }
  50% { transform: translateY(-80px) translateX(0px); }
  75% { transform: translateY(-40px) translateX(-40px); }
  100% { transform: translateY(0px) translateX(0px); }
}
